SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

GENIUS_CLIENT_ID=
GENIUS_CLIENT_SECRET=

ADMIN_USER=melike
ADMIN_PASSWORD=

GITHUB_TOKEN=
GITHUB_OWNER=melikerke
GITHUB_REPO=acupoflyrics-redesign
GITHUB_BRANCH=main
